@charset "utf-8";
@import "./variables.scss";

.grid-academies{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  // padding: 1em;

  h3.page-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    color: $black-20;
    text-indent: 0;
    margin-bottom: 1em;
  }
  img.cpu {
    width: 100%;
    max-height: 200px;
    float: left;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  .card-deck{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    grid-template-rows: auto ;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 3fr)) ;
    grid-gap: 1em;
    text-indent: 0;
    justify-items: center;
  }

  .card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 230px;
    height: 450px;
    border-radius: 4px;
    background: $cardtop;
    align-items: start;
    padding: 1em;

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    }

    .card-top{
      // width: 100%;
      max-height: 50%;
      border-radius: 4px 4px 0 0;
      justify-items: center;
      align-items: start;
      grid-auto-rows: 300px;
    }
  }

    .frame{
      border: 2px solid $black-60;
      border-radius: 3px;
      margin-left: 30%;
      margin-right: 30%;
      max-width: 50%;
      max-height: 150px;
      overflow: hidden;
      margin-bottom: 1em;
      object-fit: cover;
      object-position: 50% 50%;

      .frame:hover{
        border: 2p solid $menublue;
      }

      img.card-pic {
        justify-self: center;
        align-self: start;
      }
    }
    .cardtop .acad-prof1{
      font-family: 'Lobster Two', cursive;
      font-size: 1em;
      color: $borderblue;
      font-size:1.3em;
      text-indent: 0;
      // margin-left: 2em
      text-indent: 1em;
    }
    div.cardtop .acad-prof2{
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 1.1em;
      color: $black-70;
      // margin-left: 2em;
      text-indent: 1em;
    }
    div.cardtop .acad-name{
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 1.4em;
      color: $black-70;
      // margin-left: 2em;
      text-indent: 1em;
    }

  .card-bottom {
    display: grid;

    ul.card-bottom {
      padding: 0.5em 1em;
      background-color: $cardbottom;
      color: $black-95;
      justify-self: end;
      border-radius: 0 0 4px 4px;
    }
    ul.card-bottom > li{
      font-family: 'Oswald', sans-serif;
      font-weight: 300  !important;
      text-align: left;
      font-size: 1em;
      margin-left: 1em;
      margin-right: 1em ;
      text-align: left;
      text-decoration: none;
    }
  }
}
