@charset "utf-8";
@import "./variables.scss";

.article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 100%;
  background-color:$grey-dark;
  // background-color:$blgrey-lighter;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1em;





}