@charset "utf-8";
@import "./variables.scss";
// @import './patterns';

.content-area{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .page{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    // -webkit-filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4));
    // filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4));
  }
}

.bubbles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1em;
  margin: 0.5em 12% 0.5em 12%;
  padding-right:1em;
  background: $beige-light--3;
  border-radius: 40px 5px 40px 5px;
}

.bubble-link{
  display: flex;
  justify-content: center;
  margin-top: 1em;

  .active {
    color: $orange2;

    .bubble-cropper{
      box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
      border: 2px solid $orange1;
      img.bubble {
        filter: grayscale(0.3);
      }
    }
  }
}

a.bubble-link:focus,
a.bubble-link:hover  {
  color: $orange2;
  transition: all .4s ease-in-out;

  .bubble-cropper{
    transition: all .4s ease-in-out;
    border: 2px solid $orange2;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
    filter: brightness(80%);
    filter: grayscale(20%);
  }
  .bubble-profTitle,
  .bubble-profName,
  .bubble-headline {
    color: $orange2;
    transition: all .4s ease-in-out;
  }
}


.bubble {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black-70;
  max-width: 160px;
  transition: all .4s ease-in-out;

  .bubble-cropper{
    position: relative;
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid $black-40;
    border-radius: 25px 5px 25px 5px;
    filter: grayscale(0.8);
    // background: $black-20;
    transition: all .4s ease-in-out;
  }

    .bubble-image{
      display: flex;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .5s ease-in-out;
    }

  .bubble-profTitle{
    // font-family: 'Lemon', cursive;
    // font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
  }

  .bubble-profName{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
  }

  .bubble-headline{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: .9em;
    flex-wrap: wrap;
    text-align: center;
   }
}
