@charset "utf-8";
@import "./variables.scss";


.site-footer{
  display: flex;
  flex-shrink: 0;
  // flex-direction: row;
  // flex: 0 0 100%;
  background-color:$blgrey-lighter--80;
  height: 45px;

  .footer-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 100%;
    // align-content: space-between;

    .footer-logo{
      display: flex;
      align-self: center;
      margin-left: 130px;
      margin-right: 115px;
      // margin-top: 5px;
      width: 180px;
      height: auto;
    }

    .footer-school{
      display: flex;
      align-items: flex-end;
      // flex-direction: column;
      // margin-left: 30px;
      // justify-content: flex-start;
      // align-items: start;

      .school-name,
      .dept-name{
        align-self: flex-end;
        font-size: .9rem;
        line-height: 1rem;
      }

    }
  }
}