@charset "utf-8";
@import "./variables.scss";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";



.header {
  // display: flex;
  background-color: $primary;
  height: 165px;
  // flex-direction: row;
  align-items: top;
  font-size: 2rem;
  color: $black-20;

  .logo{
    flex: start;

    .logo-image{
      width: 95px;
      margin-top: 25px;
    }
  }


}
