@charset "utf-8";
@import "./variables.scss";

// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/_all.sass";
// @import "../../node_modules/bulma/sass/components/_all.sass";



.header {
  display: flex;
  // background-color: $brown;
  flex-direction: row;
  color: white;
  justify-content: flex-start;
  height: 40px;
  flex: 0 1 100%;
  align-items: flex-start;
  align-content: space-between;

  .logos{
    margin-left: 35px;
    margin-right: 35px;
    flex: none;

    .logo-features{

    }

    .logo-image{
      width: 80px;
      height: auto;
      margin-top: 5px;
      // margin-left: 30px;
    }
  }

 @import "./menu";
}
