$badass: #BADA55;
$darkblue: #282c34;

//used colors for ECE
$orange: #f99e39;
$menublue: #113c6f;
$menublue--10: rgba(17, 60, 111, .1);
$menublue--20: rgba(17, 60, 111, .2);
$menublue--30: rgba(17, 60, 111, .3);
$menublue--50: rgba(17, 60, 111, .5);
$menublue--70: rgba(17, 60, 111, .7);
$submenublue: #4976AB;
$borderblue: RGBA(116, 141, 181, 1.00);
$bubbles: #b7ad55;
$brown: #757763;
$black-80: #2b2b2b;
$black-60: #646464;
$greydark: #777971;
$black-40: #949494;
$black-20: #cfcfcf;
$black-10: #EFF0EB;
$greylight: #d8d9d1;
$greyverylight: #e8e7e7;

$contentarea: #c9c9c2;
$pink: pink;

// Set your brand colors
$beige-light: rgba(208, 209, 205, .5);
$beige-lighter: rgba(239, 240, 235, .5);

// Update Bulma's global variables
$family-sans-serif: "Oswald", sans-serif;
$grey-dark:  #757763;
$grey-light: $beige-light;
$primary: $submenublue;
$link: $black-20;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: $borderblue;
$input-shadow: none;

$blblack: hsl(0, 0%, 4%);
$blblack-bis:	hsl(0, 0%, 7%);
$blblack-ter:	hsl(0, 0%, 14%);
$blgrey-darker:	hsl(0, 0%, 21%);
$blgrey-dark:	hsl(0, 0%, 29%);
$blgrey:	hsl(0, 0%, 48%);
$blgrey-light:	hsl(0, 0%, 71%);
$blgrey-lighter:	hsl(0, 0%, 86%);
$blgrey-lighter--50:	rgba(	219, 219, 219, .5);
$blgrey-lighter--80:	rgba(	219, 219, 219, .8);
$blwhite-ter:	hsl(0, 0%, 96%);
$blwhite-bis:	hsl(0, 0%, 98%);
$blwhite:	hsl(0, 0%, 100%);